<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    {% block extra_css %}{% endblock %}
</head>
<body>
<header class="p-3 bg-dark text-white">
    <div class="container-fluid">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
                <li><a href="{% url 'general' %}" class="nav-link px-2 text-white">Главная страница</a></li>
                <li><a href="{% url 'about_us' %}" class="nav-link px-2 text-white">О нас</a></li>
                {% if user.is_authenticated %}
                    {% if user.student_profile and not user.student_profile.submit_doc %}
                        <li><a href="{% url 'submit_documents' %}" class="nav-link px-2 text-white">Подать документы</a></li>
                    {% endif %}
                    {% if user.student_profile and user.student_profile.submit_doc and not user.student_profile.accepted %}
                        <li class="nav-link px-2" style="color: gray">Вы подали документы на обучение</li>
                    {% endif %}
                    {% if user.student_profile and user.student_profile.group.admission_to_test %}
                        <li><a href="" class="nav-link px-2 text-white">Пройти тесты</a></li>
                        <li><a href="" class="nav-link px-2 text-white">Посмотреть расписание</a></li>
                    {% endif %}
                    {% if user.manager_profile %}
                        <li><a href="{% url 'viewing_documents' %}" class="nav-link px-2 text-white">Принять документы({{ document_count }})</a></li>
                        <li><a href="{% url 'add_group' %}" class="nav-link px-2 text-white">Добавить новую группу</a></li>
                        <li><a href="{% url 'get_groups' %}" class="nav-link px-2 text-white">Просмотреть все группы</a></li>
                    {% endif %}
                    {% if user.teacher_profile %}
                        <li><a href="{% url 'add_question' %}" class="nav-link px-2 text-white">Создать вопрос</a></li>
                        <li><a href="{% url 'view_questions' %}" class="nav-link px-2 text-white">Просмотреть все вопросы</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <div class="text-end">
                {% if user.is_authenticated %}
                <div class="btn btn-outline-light me-2">{{ user }}</div>
                <a href="{% url 'logout_user' %}" type="button" class="btn btn-warning">Выйти</a>
                {% else %}
                <a href="{% url 'registration' %}" type="button" class="btn btn-outline-light me-2">Регистрация</a>
                <a href="{% url 'login_user' %}" type="button" class="btn btn-warning">Войти</a>
                {% endif %}
            </div>
        </div>
    </div>
</header>

<div class="container-fluid mt-4 col-md-8">
    <div class="row container d-flex align-items-center justify-content-center">
        <div class="col-md-10">
            {% block content %}
            CONTENT
            {% endblock %}
        </div>
    </div>
</div>


<div class="container-fluid">
    <footer class="py-3 my-4">
        <ul class="nav justify-content-center border-bottom pb-3 mb-3">
            <li class="nav-item"><a href="{% url 'general' %}" class="nav-link px-2 text-muted">Главная страница</a>
            </li>
            <li class="nav-item"><a href="{% url 'about_us' %}" class="nav-link px-2 text-muted">О нас</a>
            </li>
            <li class="nav-item"><a href="" class="nav-link px-2 text-muted">Обратная связь</a>
            </li>
        </ul>
        <p class="text-center text-muted">© 2024-2025 *придумаешь название Автошколы*</p>
    </footer>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>
</html>