{% extends 'base.html' %}

{% block content %}
<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <h2>{{ title }}</h2>

    <!-- Вопрос -->
    <div class="mb-3">
        <label for="quest_text" class="form-label">Текст вопроса:</label>
        <textarea id="quest_text" name="question_text" class="form-control" rows="3" required></textarea>
    </div>

    <!-- Пояснение к правильному ответу -->
    <div class="mb-3">
        <label for="answer_text" class="form-label">Текст пояснения к правильному ответу:</label>
        <textarea id="answer_text" name="explanation" class="form-control" rows="3" required></textarea>
    </div>

    <!-- Изображение -->
    <div class="mb-3">
        <label for="image" class="form-label">Изображение (опционально):</label>
        <input type="file" id="image" name="question_image" class="form-control" accept="image/*">
    </div>

    <h3 class="mt-4">Варианты ответов</h3>
    <div id="answer-options">
        {% for number in number_of_responses %}
        <div class="mb-3">
            <div class="input-group">
                <input type="text" name="answer{{ number }}" class="form-control"
                       placeholder="Введите вариант ответа {{ number }}">
                <div class="ms-3">
                    <input type="radio" name="correct_answer{{ number }}" value="{{ number }}" class="form-check-input"
                           id="correct_answer_{{ number }}">
                    <label class="form-check-label" for="correct_answer_{{ number }}">Правильный</label>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Сохранить вопрос</button>
</form>

{% endblock %}
