{% extends 'base.html' %}

{% block content %}

<main class="form-signin w-100 m-auto">
    <form>
        <h1 class="h3 mb-3 fw-normal">Регистрация</h1>

        <div class="form-floating">
            <input type="" class="form-control" id="floatingInput" placeholder="Логин">
            <label for="floatingInput">Логин</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Пароль">
            <label for="floatingPassword">Пароль</label>
        </div>
        <div class="form-floating">
            <input type="date" class="form-control" id="floatingDate:" placeholder="Дата Рождения">
            <label for="floatingPassword">Дата Рождения</label>
        </div>

        <div class="form-check text-start my-3">
            <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
            <label class="form-check-label" for="flexCheckDefault">
                Remember me
            </label>
        </div>
        <button class="btn btn-primary w-10 py-2" type="submit">Регистрация</button>
    </form>
</main>

{% endblock %}